{% extends 'layout/basic.html' %}

{% block title %}О сайте{% endblock %}

{% block content %}
    <h1>About us</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi voluptatum labore deleniti tenetur eius. Sapiente harum eius, repudiandae error temporibus explicabo necessitatibus distinctio cum mollitia, omnis et ipsam veritatis saepe.
    Cumque culpa veniam maiores ipsa sapiente placeat sequi cum ad, aperiam quo eaque aliquid sint hic illum quaerat ratione dolorum, voluptatibus ipsum recusandae ea vitae voluptate? Magni suscipit placeat veritatis.
    Saepe, voluptate! Asperiores rerum tempora, dolor quas eius nobis quidem. Inventore aliquam commodi cupiditate, laudantium beatae magni ab distinctio ut tempora repellendus veritatis numquam provident quibusdam dolorum, debitis omnis? Quis?
    Inventore corporis commodi cupiditate, nesciunt dicta molestias iste ipsa nam sapiente fugiat eveniet nobis eius nulla voluptas, officia autem? Consequatur, unde iusto architecto quis dolores placeat illum explicabo facilis corrupti.
    Iste, ipsum accusantium ipsam aliquam perspiciatis reprehenderit quas quos corrupti nesciunt mollitia, natus, labore deserunt ut temporibus? Amet pariatur mollitia quo at aspernatur. Optio ullam ducimus deserunt voluptate pariatur provident?</p>
{% endblock %}